h2 {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}

#body {
    background-color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
}

#buttons {
    margin: 7px;
}

#price {
    color: orange;
    font-size: 35px;
}

button {
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

li {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    list-style-type: none;
    text-align: center;
    margin: 15px;
}

ul {
    padding: 10px;
}

p {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}